# Life Expectancy

[data_source](https://data.worldbank.org/indicator/SP.DYN.LE00.IN)

In [11]:
%matplotlib

import pandas as pd
import numpy as np

Using matplotlib backend: MacOSX

In [5]:
! head data/life_expectancy/API_SP.DYN.LE00.IN_DS2_en_csv_v2.csv

In [20]:
df = pd.read_csv("data/life_expectancy/API_SP.DYN.LE00.IN_DS2_en_csv_v2.csv", header=2, index_col=[0,1,2,3])
df.head()

,,,,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
Country Name,Country Code,Indicator Name,Indicator Code,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.569366,65.988024,66.365537,66.713976,67.044293,67.369756,67.699000,68.034683,68.377146,68.728415,...,74.771146,74.910634,75.047659,75.183195,75.319732,75.456780,75.594341,NaN,NaN,NaN
Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.337561,32.786976,33.228927,33.666902,34.101902,34.534902,34.966927,35.398927,35.832415,36.269390,...,60.764610,61.235463,61.674244,62.092976,62.501610,62.902683,63.298195,NaN,NaN,NaN
Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.226024,33.547756,33.888000,34.244732,34.617463,35.002220,35.396512,35.797854,36.202268,36.607220,...,57.181000,58.141122,58.991244,59.718439,60.321756,60.806732,61.189341,NaN,NaN,NaN
Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.254366,63.273463,64.162854,64.887098,65.438195,65.827390,66.089317,66.287220,66.474951,66.681610,...,76.394878,76.747902,77.108463,77.448268,77.747098,77.998390,78.203146,NaN,NaN,NaN
Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df['2015'].dropna()

Country Name                                          Country Code  Indicator Name                           Indicator Code
Aruba                                                 ABW           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.594341
Afghanistan                                           AFG           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    63.298195
Angola                                                AGO           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    61.189341
Albania                                               ALB           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    78.203146
Arab World                                            ARB           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.028439
United Arab Emirates                                  ARE           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    77.484244
Argentina                                             ARG           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    76.293024
Armenia                                               ARM           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    74.206195
Antigua and Barbuda                                   ATG           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    76.075634
Australia                                             AUS           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    82.451220
Austria                                               AUT           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    81.843902
Azerbaijan                                            AZE           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.845195
Burundi                                               BDI           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    57.069341
Belgium                                               BEL           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    81.287805
Benin                                                 BEN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    60.584683
Burkina Faso                                          BFA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    59.844659
Bangladesh                                            BGD           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    72.221610
Bulgaria                                              BGR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    74.465854
Bahrain                                               BHR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    76.865195
Bahamas, The                                          BHS           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.368780
Bosnia and Herzegovina                                BIH           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    76.640293
Belarus                                               BLR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    73.624390
Belize                                                BLZ           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    70.310976
Bermuda                                               BMU           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    81.012195
Bolivia                                               BOL           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    68.749805
Brazil                                                BRA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.199122
Barbados                                              BRB           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.637902
Brunei Darussalam                                     BRN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    77.066756
Bhutan                                                BTN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    69.807122
Botswana                                              BWA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    65.751098
                                                                                                                                 ...
Tajikistan                                            TJK           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.007122
Turkmenistan                                          TKM           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    67.641049
Latin America & the Caribbean (IDA & IBRD countries)  TLA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.165842
Timor-Leste                                           TLS           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    68.580024
Middle East & North Africa (IDA & IBRD countries)     TMN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    72.789203
Tonga                                                 TON           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    72.840171
South Asia (IDA & IBRD)                               TSA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    68.485453
Sub-Saharan Africa (IDA & IBRD countries)             TSS           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    59.901826
Trinidad and Tobago                                   TTO           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    70.588854
Tunisia                                               TUN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.497049
Turkey                                                TUR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.407098
Tanzania                                              TZA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    64.903317
Uganda                                                UGA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    59.508756
Ukraine                                               UKR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.189512
Upper middle income                                   UMC           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.118550
Uruguay                                               URY           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    77.131634
United States                                         USA           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    78.741463
Uzbekistan                                            UZB           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.145683
St. Vincent and the Grenadines                        VCT           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    73.064951
Venezuela, RB                                         VEN           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    74.391512
Virgin Islands (U.S.)                                 VIR           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    79.873171
Vietnam                                               VNM           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    75.891195
Vanuatu                                               VUT           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.984902
World                                                 WLD           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.888804
Samoa                                                 WSM           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    74.838707
Kosovo                                                XKX           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    71.346341
Yemen, Rep.                                           YEM           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    64.725683
South Africa                                          ZAF           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    61.934098
Zambia                                                ZMB           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    61.339585
Zimbabwe                                              ZWE           Life expectancy at birth, total (years)  SP.DYN.LE00.IN    60.279341
Name: 2015, Length: 244, dtype: float64

In [24]:
df.plot()

In [29]:
life_expectancy = df.groupby(level=0).first().transpose()
life_expectancy.head()

Country Name,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Arab World,Argentina,Armenia,...,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,Virgin Islands (U.S.),West Bank and Gaza,World,"Yemen, Rep.",Zambia,Zimbabwe
1960,32.337561,62.254366,46.135122,NaN,NaN,33.226024,61.782732,46.815045,65.215537,65.863463,...,58.694049,46.487488,59.285122,59.067024,66.224854,NaN,52.585685,34.363805,45.109805,51.541976
1961,32.786976,63.273463,46.590317,NaN,NaN,33.547756,62.195415,47.397232,65.338512,66.284390,...,59.056732,47.088098,59.862561,59.744195,66.487976,NaN,53.089030,34.473244,45.487512,51.914951
1962,33.228927,64.162854,47.045000,NaN,NaN,33.888000,62.598537,47.977768,65.432610,66.709854,...,59.424415,47.688195,60.430317,60.410537,66.741098,NaN,53.510894,34.739561,45.853659,52.277902
1963,33.666902,64.887098,47.496195,NaN,NaN,34.244732,62.992585,48.560874,65.509390,67.137854,...,59.795610,48.287293,60.985829,61.043024,66.996220,NaN,54.041987,35.186780,46.209220,52.629317
1964,34.101902,65.438195,47.941902,NaN,NaN,34.617463,63.378585,49.147395,65.582415,67.565415,...,60.167829,48.886829,61.529073,61.607146,67.260366,NaN,54.718962,35.812878,46.558683,52.971659

In [30]:
list(life_expectancy.columns)

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. People’s Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'Northern Mariana Islands',
 'Norway',
 'Not classified',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [31]:
life_expectancy_subset = life_expectancy[['United States', 'Germany', 'Russian Federation', 'China', 'South Africa']]

In [32]:
life_expectancy_subset.plot()